/* src/index.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додаткові стилі SCSS, якщо потрібні, але мінімально */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f5;
}